html, body {
  height: 100%;
  background: url("../img/background.png");
}

#wrapper {
    margin-top: 70px;
}

.img-logo {
    width: 15rem;
}

.custom-square {
    border: 1px solid grey;
    border-radius: 5px;
    min-height: 15em;
    height: 15em;
    color: white;
    line-height: 15em;
    vertical-align: middle;
    text-align: center;
    margin: 2rem auto;

    background: url("../img/carbon.jpg");    
    /*background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;*/
}

.custom-square:hover,
.custom-square:focus {
    background: url("../img/carbon-grey.jpg");
}

.custom-square.no-styling {
    background:  none;
    border: none;
}

.custom-jumbotron {
    background: none;
}

.icon-big {
    font-size: 3em;
}

.block-span {
    font-size: 3em;
}

.custom-float {
    float: none;
    margin: 0 auto;
}

.main-section {
    padding-top: 5em;
    padding-bottom: 5em;
}

.custom-square  div.details {
    line-height: normal;
}

.custom-square  div.details>div  {
    margin: 2rem;
}

.custom-square  div.details>div > a {
    color: white;
    font-size: 1.5em;
}

.custom-square  div.details>div > a:hover {
    text-decoration: none;
    color: black;
}

.img-sell {
    width: 100%;
}

.sell-item {
    color:  white;
    margin: 1em auto;
    border: 1px solid grey;
    border-radius: 5px;
    background: url("../img/steel.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sell-item:hover {
    border: 3px solid white;
}

.sell-item img {
    text-align: center;
    vertical-align: middle;
}

.sell-item h4 {
    color: inherit;
}

.sell-item .my-notes {
    border: 1px dashed white;
    font-style: italic;
}

.custom-margin {
    margin: 15px 25px !important;
}